* {
    padding: 0;
    margin: 0;
}
@mixin flex-center {
    display: flex;
    align-items: center;
}
.footer_container {
    @include flex-center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    background-color: rgba(10, 10, 10, 0.615);
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    .title_box {
        @include flex-center;
        flex-direction: column;
        row-gap: 5px;
        .text_contact {
            font-size: 17px;
        }
        .links_contant {
            @include flex-center;
            flex-direction: row;
            column-gap: 20px;
            padding: 5px;
            .call_icon,.sms_icon {
                width: 70%;
                height: 70%;
                &:hover {
                    transform: scale(1.10);
                }
                &:active {
                    transform: translateY(3px);
                }
            }
        }
    }
    .icon_box {
        @include flex-center;
        justify-content: center;
        .icons {
            width: 33%;
            &:hover {
                transform: scale(1.10);
            }
            &:active {
                transform: translateY(3px);
            }
        }
    }
}

@media (min-width: 475px) {}

@media (min-width: 640px) {
    .footer_container {
        padding: 12px;
    }
}

@media (min-width: 1024px) {
    .footer_container {
        padding: 25px;
    }
    .title_box .text_contact { /* Add .title_box to increase specificity */
        font-weight: 400;
    }
}
@media (min-width: 1280px) {
    .title_box .links_contant {
        
        img {
            
        }
    }
}
